/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgb(64, 31, 124);
}

.col-md-4 h2, .col-md-4 p, .form-group label, form h2{ 
  color: white;
}
