/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    background-color: #b2bec3;
  }

    /* logo / item styles in navbar */
    #logo{
        height: 100%;
        margin-top: -8px;
        margin-right: 10px;
    }
    .nav-item{
        margin-right: 12px;
    }

.jumbotron{
    background-color: #dfe6e9;
    background-image: url("https://images.pexels.com/photos/707047/pexels-photo-707047.jpeg?cs=srgb&dl=car-clouds-countryside-707047.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.title{
    text-align: center;
}

 #r1{
    text-align: center;
} 

/* center the image in the grid */
/* .rounded-circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* styles for the second row */

/* .colm:nth-child(even){
    background-color: #444444
} */
.c2{
    border: 1px solid darkgray;
}

.innerclass{
    margin: 10px;
    padding: 10px;
    background: #9b9fa1;
    text-align: center;
    border-radius: 10px;
}

.linea{
    background-image: -moz-linear-gradient(right,  #ffffff, #ffffff);
    background-image: -webkit-linear-gradient(right,  #ffffff, #ffffff);
    background-image: -ms-linear-gradient(right, #ffffff, #ffffff);
    background-image: -o-linear-gradient(right,  #ffffff, #ffffff);
}
table{
    border-collapse: collapse;
    /* border: 2px solid lightgray; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}
.tlogo{
    color: #222222;
}
.tlogo:hover{
    text-decoration: none;
    color: #222222;
}
tr{
    text-align: center;    
}
.bd{
    border: 1px solid black;
}
div {
    font-size: 2rem; /* css */
    background-color: #33006f;
}
h1 {
    border-width: 1em;
    border-color: yellow;
    border-style: dashed;
    border-radius: 15px 30px;
   }

p::selection {
    background:lightgray;
}