h2 {
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myCanvas {
    margin: 20;
    border: 2px solid red;
    background-image: url("marge.jpg");
    background-size: 600px 600px;
}