.container .clearfix .input {
    padding-bottom: 0;
    margin-bottom: 0;
}

h2.post-title {
    font-size: 90%;
    font-weight: 900;
}
.post-subtitle {
    font-weight: normal;
    font-size: 70%;
}