/* Move down content because we have a fixed navbar that is 3.5rem tall */
body, html {
    height: 100%;
    background-color: rgba(45,50,95,1);
  }

  * {
    font-family: 'Exo', sans-serif;
    color: white;
  }

.fixed {
  opacity: 0.3;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 100;
  margin: 0;
  width: 300px;
  z-index: 1;
  background: rgba(45, 50, 95, 0.3);
}



.container {
  overflow: hidden;
}

.fixed .row .col-xs-6 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.fixed .row .col-md-6 img {
  display: block;
  margin: 0 auto;
}

.jumbotron{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("https://pa1.narvii.com/5946/7236947848c2586fc91d610d46d7a117d7bd7c73_hq.gif");
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Exo', sans-serif;

    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .jumbotron .container div  {
    position: relative;
    top: 42%;
  }

  .jumbotron .container div * {
    text-align: center;
  }

  .jumbotron .container {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(45,50,95,0.3);
  }

  .container .main-content{
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .container h1, .container p, .container .row .col-md-4 * {
      text-align: left;
  }

  .container .row1 h1 {
    text-align: center;
  }

  .row1 div {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
  }
  .container .row1 div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .project-wrapper {
    position: relative;
    min-width: 100%;
    min-height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: visible;
    padding-left: 27%;
    
  }

  .row2Part2 div {
    min-height: 500px;
  }
  .container .row .img {
    min-height: 300px;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content .contact * {
    color: white;
  }

  .contactLinks{
    width: 300px;
    margin: 0 auto;
  }
  footer p {
    text-align: center;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}