body {
    background-color: white;
}

.frame {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

table{
    border-collapse: collapse;
    width: 100%;
    background: black
}
td{
    border: 1px solid #dddddd;
}