.container .jumbotron {
    background-image: url("https://static.routesonline.com/images/cached/newsarticle-274771-scaled-580x0.jpg");
    background-size: cover;
    background-position: 0% 40%;
    min-height: 500px;
}


.container .btn {
    padding-left: 5%;
    padding-right: 5%;
}