table {
    
    border-collapse: collapse;
}

td {
    
    border-spacing: 0;
}

.red_stripe {
    background-color: red;
    padding: 19;
}

.white_stripe {
    background-color: white;
    padding: 19;

}
#flag {
    border: solid 1px black;
    width: 1000px;
    height: 400px;
    background-color: blue;
}

#starcell {
    width: 350px;
    height: 200;
    padding: 18;

}

#stars {
    width: 350px;
    height: 200px;
    border-spacing: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 22px;
}